body {
	font: {
	    family: $lucida-grande;
	    size: 62.5%;
	    weight: normal;
  	}
}

h1, h2, h3, h4, h5, h6 {
	font: {
	    family: $lucida-grande;
	    weight: normal;
  	}
  	line-height: 1em;
}

h1, h2, h3 {
	color: $major-head-color;
	text-transform: uppercase;
}

/* Font sizes */
.typo-size-alpha { font-size: $alpha }
.typo-size-beta { font-size: $beta }
.typo-size-gamma { font-size: $gamma }
.typo-size-delta { font-size: $delta }
.typo-size-epsilon { font-size: $epsilon }
.typo-size-luck { font-size: $luck }
.typo-size-zeta { font-size: $zeta }
.typo-size-micro { font-size: $micro }
.typo-size-nano { font-size: $nano }

h1 { @extend .typo-size-alpha; }
h2 { @extend .typo-size-beta; }
h3 { @extend .typo-size-gamma; }
h4 { @extend .typo-size-delta; }
h5, 
p, 
input, 
textarea, 
a { @extend .typo-size-epsilon; }
h6, label { @extend .typo-size-zeta; }

a { text-decoration: none; }

/* Alignment */
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-left { text-align: left; }









.small-text {
	@extend .typo-size-micro;

	color: $light-grey;
}

.badge {
	font: {
		size: $micro;
		style: normal;
	}
}

/* Header */
#bottom-header span {
	font-size: $epsilon;
	text-transform: uppercase;
}

/* Sidebar */
.widget {
	h3 {
		font: {
			size: $luck;
			weight: bold;
		}
		color: $dark-blue;
	}

	hgroup {
		h1 {
			color: $black;
		}
		h1, h2 {
			font-size: $zeta;
			text-transform: none;
		}
	}	

	.tag-list {
	    a {
	      font-size: $luck;
	      color: $dark-grey;

	      &:hover, &:focus, &.active {
	      	color: $dark-blue;
	      }
		}
	}
}

/* Lists */
.list {
	a {
		font-weight: normal;

	    &:hover, &:focus, &.active {
	      color: $dark-blue;

		    h1, h2, h3 {
		    	font-weight: bold;
		    }
	    }
  	}
}

/* Ressources widget */
#ressources {
	.list {
		a {
			&:hover, &:focus, &.active {
			    h2 {
			    	font-weight: normal;
			    }
	   		}
		}
	}
}

/* Comments */
.comments {
	h3 {
		font-size: $epsilon;
		text-transform: none;
	}
}

/* Chatbox */

/* Registration */
#register-steps {
	& > div {
		font-size: $gamma;
		color: $dark-blue;

		&.current {
			color: $gold;
		}
	}
}

#interest-selection {
	a {
		color: $dark-grey;
	}
}

/* Toolbar */
#tool-bar {
	h1 {
		font-size: $luck;
		color: $dark-blue;
	}

	.action-file {
		a {
			font-size: $zeta;
		}

		a:hover, a:focus, a.active {
			font-weight: normal !important;
		}
	}
}

/* Chatbox */
.chatbox {
	.name {
		font-size: $zeta; 

		a {
			color: $white;
			font-size: $zeta;

			&:hover, &:focus, &.active {
				text-decoration: underline;
			}
		}
	}
}